/* Corpo */
body {
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
}

/* Botão no Header */
#backToDashboard {
  font-size: 16px;
  padding: 10px 20px;
}

/* Estilo dos Métricos */
.metric h3 {
  color: #18357e;
}

.metric p {
  font-size: 20px;
  color: #333;
}

/* Gráficos */
canvas {
  width: 100%;
  max-height: 300px;
  display: block;
}